* {
    margin: 0;
    box-sizing: border-box;
}

.brand-logo {
    font-family: 'Press Start 2P', cursive;
}

#players {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    padding: 50px;
    
}

h3 {
    padding: 40px;
}

/* img {
    height: auto;
    width: 50%;
    align-self: center;

} */

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 60%;
    }

 dt {
   font-size: 30px;
   text-decoration: underline;
   font-family: 'Calistoga', cursive;
 }

 dd {
     font-size: 30px;
 }