* {
    margin: 0;
    box-sizing: border-box;
}

.brand-logo {
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
}

#players {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    padding: 50px;
}

#results-card {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#player1, #player2 {
    width: 240px;
  
}

.btn-small.orange {
    margin-left: 15px;
}

h3 {
    padding: 40px;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 770px;
    padding: 0px 0px 50px 0px;
    }

 dt {
   font-size: 20px;
   text-decoration: underline;
   font-family: 'Calistoga', cursive;
   align-content: center;

 }

 dd {
     font-size: 18px;
     
 }

#player1-results {
    float: left;
     }

#player2-results {
    float: right;
}